# venvs
/phase_venv/

# pycaches
**/__pycache__/

# output files
/src/tools/*.png
/src/tools/*.txt
/src/modules/feature_matrix/
/tests/verify_results/

# test input file
/tests/cap*
/tests/*.pcap

# workspace
/workspace/

# Third-party libraries
third_party/cicflowmeter/cicflowmeter.jar